.bgImageMobile{
	/* background-image: URL(/offersOpp/resource/1665768999000/UCSMobileBG);
	background-repeat: no-repeat !important; 
	background-position: center center !important;
	background-size: 100% 100% !important;
	position: absolute !important;
	width: 100%;
	height: 90%;
	overflow: hidden;
	top: 25%;
	display: none; */
}

.bgImage{
	background-image: URL(/offersOpp/resource/1665768999000/UCSMobileBG);
	height: 700px; 
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover;
}

/* .body, html { 
height: 100%; 
margin: 0; 
} */

.logoStyle{
	display: none;
}

.logoMobile{
	display: block;
}

.headerIcons{
	padding: 0%;
	position: relative;
}

.headerBG{
	//background-color:rgba(221,238,241,255);
	border-bottom-left-radius: 140px;
	padding: 7% 0% 7% 0%;
}

.headerBanner{
	/* padding-left: 10%;
	position: absolute; */
	width: 90%;
}

.headerText1{
	padding: 10% 0% 0% 4%;
	font-size: 24px;
    font-weight: 900;
}

.headerText2{
	padding-left: 13%;
	font-size: 14px;
    font-weight: 700;
	color:#4caf80;
	display: none;
}

.headerText3{
	padding-left: 13%;
	font-size: 12px;
	display: none;
}

.headerText2Mob{
	padding-left: 4%;
    margin: 5% 0%;
	font-size: 15px;
    font-weight: 700;
	color:#4caf80;
	display: block;
	position: absolute;
    top: 161px;
}

.headerText3Mob{
	padding-left: 5%;
	margin-left: 5%;
	font-size: 14px;
	border-left: 2px solid #4caf80;
	display: block;
	line-height: 16pt;
	position: absolute;
    top: 248px;

}

.rightTileHeader{
	background-color:#404454;
	color:white;
	height: 40px;
}

.rightTile{
    width: 85%;
    height: 48%;
    position: absolute;
    top: 52%;
    left: 3%;
	z-index: 9;
	margin: 20px;
	background-color:white;
	box-shadow: 0px 0px 1px 0px;
}

.rightBG{
	background-color:rgba(221,238,241,255);
}

.rightTileTopText{
	font-size: 12px;
    margin-left: 10%;
    font-weight: bold;
    color: #c3c6c6;
}

.rightTileBottomText{
	margin-left: 10%;
	font-size: 15px;
}

.phoneIcon{
	display:none;
}

.phoneIconMobile{
	display:block;
	padding-left: 23%;
}

.phoneIconlogo{
	width: 35%;
}

@media only screen and (min-width: 768px) { 
	.headerIcons{
	    padding: 0% 5% 0% 16%;
	}

	.body, html { 
		height: 100%; 
		margin: 0; 
	}

	.bgImage{
		background-image: URL(/offersOpp/resource/1665768999000/UCSDesktopBG);
		/* background-repeat: no-repeat !important; 
		background-position: center center !important;
		background-size: 110% 100% !important;
		position: absolute !important;
		width: 100%;
		height: 100%;
		overflow: hidden;
		display: block; */
		height: 600px; 
		background-position: center; 
		background-repeat: no-repeat; 
		background-size: cover;
	}
	
	bgImageMobile{
		display: none;
	}
	/* .headerBG{
		//background-color:rgba(221,238,241,255);
		border-bottom-left-radius: 140px;
		padding: 7% 0% 7% 0%;
	} */

	.logoStyle{
		display: block;
	}

	.logoMobile{
		display: none;
	}

	.headerBanner{
		padding: 12% 0% 0% 18%;
	}

	.headerText1{
		padding: 0% 0% 0% 0%;
		font-size: 30px;
		font-weight: 900;
		position: absolute;
    	top: 159px;
	}

	.headerText2{
		padding: 2% 0%;
		font-size: 20px;
		font-weight: 700;
		color:#4caf80;
		display: block;
	}

	.headerText3{
		padding-left: 2%;
		font-size: 17px;
		border-left: 2px solid #4caf80;
		display: block;
		line-height: 25pt;
	}

	.headerText2Mob{
		padding-left: 13%;
		font-size: 15px;
		font-weight: 700;
		color:#4caf80;
		display: none;
	}

	.headerText3Mob{
		padding-left: 2%;
		font-size: 12px;
		border-left: 2px solid #4caf80;
		display: none;
	}

	.rightTile{
		width: 27%;
        height: 61%;            
        position: absolute;
        top: 38%;
        left: 56%;
        z-index: 9;
        margin: 20px;
		background-color:white;
		box-shadow: 0px 0px 1px 0px;
	}

	.rightTileHeader{
		background-color:#404454;
		color:white;
		height: 40px;
	}

	.rightBG{
		background-color:rgba(221,238,241,255);
	}

	.rightTileTopText{
		font-size: 12px;
		margin-left: 10%;
		font-weight: bold;
		color: #c3c6c6;
	}

	.rightTileBottomText{
		margin-left: 10%;
		font-size: 16px;
	}
	.phoneIcon{
		display:block;
		margin: 0% 0% 3% 0%;
	}

	.phoneIconMobile{
		display:none;
	}

	.phoneIconlogo{
		display: none;
	}
}