.row
{
	display: flex;
	padding-left:20px;
	padding-bottom:10px; 
	padding-top:10px

}
  
.column
{
	flex: var(--lwc-squareIconXSmallContent, 0.5rem);
}

hr
{
	margin: 1px;
	padding: 1px;
}

lightning-button
{
	padding: var(--lwc-squareIconUtilityMedium, 1.25rem);
}

