.footerContainer{
	background-color: #f7f8fc;
}

.sectionStyle{
	padding: 3%;
}

.footerText{
	background-color: #f7f8fc;
	font-size: 11px;
}

.iconStyle {
	height: 50%;
	//margin: 3% 0%;
	float:right;
}

.iconText{
	font-size: 12px;
	text-align: left;
	float: left;
    width: 44%;
    margin: 2% 0% 0% 10%;
}

.bottomText{
	display:none;
}

.bottomTextMob{
	display:block;
}

@media only screen and (min-width: 768px) { 
	.footerContainer{
		background-color: #f7f8fc;
	}

	.footerText{
		background-color: #f7f8fc;
		font-size: 10px;
	}

	.iconStyle {
		height: 50%;
		margin-top: 4%;
		float:right;
	}

	.iconText{
		font-size: 12px;
		text-align: left;
		margin-left: 10%;
		float: left;
		width: 57%;
	}

	.bottomText{
		display:block;
	}

	.bottomTextMob{
		display:none;
	}

	.borderStyle{
		border-left: 2px solid #D7E5E8;
    	border-right: 2px solid #D7E5E8;
	}
}